@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --black: #2c2c34;
    --gray: #494850;
    --rose-quartz: #978897;
    --violet: #b18fcf;
    --lavender: #d8d8f6;
}

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

html,
body {
    height: 100%;
    background: var(--black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* utils */
.violet {
    color: var(--violet);
    text-shadow: 0px 5px 5px rgba(66, 70, 77, 0.6);
}

.lavender {
    color: var(--lavender);
    text-shadow: 0px 5px 5px rgba(66, 70, 77, 0.6);
}

.box:hover {
    cursor: pointer;
    opacity: 90%;
}

.hidden {
    display: none !important;
}

.shadow {
    box-shadow: rgba(0,0,0,0.4) 0px 2px 4px,
    rgba(0,0,0,0.3) 0px 7px 13px -3px,
    rgba(0,0,0,0.2) 0px -3px 0px inset;
}

/* MOBILE-FIRST APPROACH */
.main {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 30px repeat(3, 80px) 50px;
    gap: 10px;
}

.turn {
    color: var(--violet);
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Monserrat', sans-serif;
}

.turn i {
    font-size: 1.8rem;
    margin: 0 0 0 .3rem;
    animation: .6s ease-in-out turn-icon-animate;
}

@keyframes turn-icon-animate {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

.turn p {
    font-size: 1rem;
    animation: .6s ease-in-out turn-txt-animate;
}

@keyframes turn-txt-animate {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 100%;
    }
}

.box {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    background: var(--rose-quartz);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}


.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    font-family: 'Monserrat', sans-serif;
}

.score p {
    font-size: .8rem;
    font-weight: 600;
}

/* dropdown */
.actions {
    position: relative;
}

.items {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 0;
    background: var(--gray);
    border-radius: .2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.items button {
    font-size: .8rem;
    background: transparent;
    padding: 8px;
    color: var(--lavender);
}

.actions .items button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.action-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .4rem;
    background: var(--gray);
    color: var(--lavender);
    border: 1px solid transparent;
}

/* FOOTER */
footer {
    color: var(--lavender);
    margin:50px 0 0;
}

footer p {
    margin: 10px 0 0;
    text-align: center;
    user-select: none;
    font-style: italic;
    font-weight: 200;
    opacity: 20%;
}

footer p:hover {
    opacity: 30%;
}

/* game over modal */
.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
}

.modal-contents {
    width: 100%;
    height: 150px;
    max-width: 200px;
    transform: translateY(-50px);
    background: var(--black);
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    color: var(--lavender);
    user-select: none;
    /* margin: 10px; */
}

.modal-contents button {
    padding: .8em;
    border-radius: .2rem;
    background: var(--violet);
    color: var(--black);
}

.modal-contents button:hover {
    cursor: pointer;
    opacity: 90%;
}

.modal-contents button:active {
    background: var(--lavender);
}

/* MEDIA - Tablet */
@media (min-width: 576px) { 
    .main {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
    .modal-contents {
        max-width: 280px;
        transform: scale(1.3);
    }
    .items {
        width: 100%;
        margin: 30px 0 0;
    }
}

/* MEDIA - Desktop */
@media (min-width: 817px) {
    .main {
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: 50px repeat(3, 210px) 60px;
        gap: 20px;
    }
    .modal-contents {
        max-width: 350px;
        height: 200px;
        font-size: 1.4rem;
    }
    .modal-contents button {
        padding: 1em;
        font-size: 1rem;
    }
    .items {
        width: 100%;
        margin: 30px 0 0;
    }
}