@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --black: #2c2c34;
    --gray: #494850;
    --rose-quartz: #978897;
    --violet: #b18fcf;
    --lavender: #d8d8f6;
}

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: 'Monserrat', sans-serif;
}

html,
body {
    height: 100%;
    background: var(--black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.shadow {
    box-shadow: rgba(0,0,0,0.4) 0px 2px 4px,
    rgba(0,0,0,0.3) 0px 7px 13px -3px,
    rgba(0,0,0,0.2) 0px -3px 0px inset;
}

/* MOBILE-FIRST APPROACH */
.main {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 30px repeat(3, 80px) 60px;
    gap: 10px;
}

.turn {
    color: var(--violet);
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.turn i {
    font-size: 1.8rem;
    margin: 0 0 0 .3rem;
    animation: .6s ease-in-out turn-icon-animate;
}

@keyframes turn-icon-animate {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

.turn p {
    font-size: 1rem;
    animation: .6s ease-in-out turn-txt-animate;
}

@keyframes turn-txt-animate {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 100%;
    }
}

.box {
    background: yellow;
}

.score {
    background: blanchedalmond;
}
/* dropdown */
.actions {
    position: relative;
}

.items {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 0;
    background: var(--gray);
    border-radius: .2rem;
    padding: 10px;
}

.items button {
    font-size: .8rem;
    background: transparent;
    padding: 8px;
    color: var(--lavender);
    display: flex;
    flex-direction: column;
}

.actions .items button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .4rem;
    background: var(--gray);
    color: var(--lavender);
    border: 1px solid transparent;
}

/* FOOTER */
footer {
    color: var(--lavender);
    margin:50px 0 0;
}

footer p {
    margin: 10px 0 0;
    text-align: center;
    user-select: none;
    font-style: italic;
    font-weight: 200;
    opacity: 20%;
}

footer p:hover {
    opacity: 30%;
}

/* MEDIA - Tablet */
@media (min-width: 576px) { 
    .main {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}

/* MEDIA - Desktop */
@media (min-width: 817px) {
    .main {
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: 50px repeat(3, 210px) 60px;
        gap: 20px;
    }
}