@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --black: #2c2c34;
    --gray: #494850;
    --rose-quartz: #978897;
    --violet: #b18fcf;
    --lavender: #d8d8f6;
}

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: 'Monserrat', sans-serif;
}

html,
body {
    height: 100%;
    background: var(--black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 10px;
}

.turn {
    background: red;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box {
    background: yellow;
}

.score {
    background: blanchedalmond;
}

.actions {
    background: paleturquoise;
}